h1 {
    text-align: center;
}
* {
    color: #333;
    font-family: verdana, monospace;
}
body {
    margin: 0 auto;
    padding: 1rem;
    flex-wrap: wrap;
}
h1,h2 {
    font-weight: normal;
    border-bottom: 1px dotted #ddd;
}
h1 {
    font-size: 1.5rem;
    padding: 0.5rem;
}