<!DOCTYPE html>

<head>
    <title>Sean Hellum</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    <script src="static/js/main.js"></script>
</head>
<html>
    <h1>Welcome to my website!</h1>
    <p>Technologies I use</p>
    <div class="grid-container">
        <div class="grid-item">1</div>
        <div class="grid-item">2</div>
        <div class="grid-item">3</div>
        <div class="grid-item">4</div>
        <div class="grid-item">5</div>
        <div class="grid-item">6</div>
        <div class="grid-item">7</div>
        <div class="grid-item">8</div>
        <div class="grid-item">9</div>
    </div>
</html>
